@model TrusteeApp.Errors.ApiExceptionsResponse

<div class="text-center">
    <div class="d-flex">
        <div class="container-fluid p-0">

            <form method="get" class="row row-cols-md-auto g-2 align-items-center m-0 mb-3 d-flex flex-column">

                <div id="content-placeholder" class="p-3 pb-0">
                    <div class="d-md-flex h-md-100 align-items-center">
                        <div class="col">

                            <h1 class="card-title text-center mb-2 text-danger" id="header"><i class="bi bi-exclamation-octagon-fill"></i> Error: @Model.StatusCode</h1>
                            <h2 class="text-center h1-style mb-0">@Model.Message</h2>
                            <br />
                            <div class="text-center">@Model.Details</div>
                            <hr>

                            @if (Model.Message == "notFound" || Model.Message == "logout")
                            {
                                <div class="card-body row justify-content-center p-0 px-5 pb-3">
                                    <div class="col-auto col-md-9 col-xl-auto align-self-center">
                                        <button asp-action="Homepage" asp-controller="Home" type="submit" class="shadow-lg btn btn-primary btn-md trustee-btn">
                                            <p class="card-text">Return to <b>Homepage</b></p>
                                        </button>
                                    </div>
                                </div>
                            }

                            else
                            {
                                <div class="card-body row justify-content-center p-0 px-5 pb-3">
                                    <div class="col-auto col-md-9 col-xl-auto align-self-center">
                                        <button asp-action="Login" asp-controller="Account" type="submit" class="shadow-lg btn btn-primary btn-md trustee-btn">
                                            <p class="card-text"><b>Register Account</b></p>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body row justify-content-center p-0 px-5 pb-3">
                                    <div class="col-auto col-md-9 col-xl-auto align-self-center">
                                        <button asp-action="Login" asp-controller="Account" type="submit" class="shadow-lg btn btn-success btn-md trustee-btn">
                                            <p class="card-text">Try <b>Loging in</b> again</p>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{

    <script>document.title = 'Trustee Portal - Error Page';</script>
}










@*else if (Model.Message == "userProfile")
    {

    }
    else if (Model.Message == "register")
    {

    }
    else if (Model.Message == "login")
    {

    }
    else if (Model.Message == "emailConfirmation")
    {

    }
    else if (Model.Message == "password")
    {

    }

    else if (Model.Message == "emailReconfirmation")
    {
    }*@