@model TrusteeApp.Domain.Dtos.UserModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="fw-bold d-md-flex h-md-100 align-items-center justify-content-center mt-md-0">

    <div class="pt-0 pt-md-5 col-md-5 col-lg-4 col-xl-3 bg-white p-5 animate__animated animate__shakeY" style="border-radius: 10px">

        <h2 class="py-md-3 py-5 my-5 my-md-0 mb-2">@ViewData["Title"]</h2>
        <div class="fs-5 text-secondary py-md-3 my-md-0 mb-3">Enter your email.</div>

        <div class="form-wrapper">

            <form method="post" class="" asp-action="ForgotPasswordPost">

                <div class="form-group mb-3">

                    <label class="mb-2" asp-for="Email"></label>

                    <input class="form-control mb-2 pe-5 trustee-icon-email" type="email" asp-for="Email" autofocus="">

                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <br />

                <div class="form-group mb-4 mt-3">
                    <button type="submit" class="fs-5 btn btn-md w-100 trustee-btn4 rounded" style="background-color: #d43662; color: white;">Submit</button>
                </div>

                <div class="form-group d-flex justify-content-center mb-4">
                    <a asp-action="Register"><span class="text-black">Don't have an account?</span> Sign-up</a>
                </div>
            </form>

        </div>
    </div>

</div>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
