@model TrusteeApp.ViewModels.LayoutOptionViewModel

<div class="mt-2" style="padding:10px;">
    <a asp-controller="Home" asp-action="AppList" asp-route-userName="@Model.UserEmail" class="p2">Main Menu</a>
</div>

