
/*div {
    text-align: start;*/
    /*    overflow-x: hidden;*/
/*}

.modal {
    top: 12vh;
}

.filter {
    position: absolute;
    width: 20vw;
    height: 30vh;
    display: none;
    text-align: left;
    font-size: small;
    z-index: 9999;
    overflow: auto;
    background: #ffffff;
    color: #1f2d54;
    border: 1px solid #dddddd;
}

    .filter input {
        margin: 5px !important;
        padding: 0 !important;
        width: 10%;
    }

.toast {
    background-color: #d9534f !important;
}*/